:root {
    --bg-color: #747C92; /* background */
    --fg-color: rgba(237, 243, 224, 0.65) ; /* foreground */

    --font-color: rgb(24, 23, 30);
    --font-color-contrast: #E8E9F3; /* #F8F8F8 */
}

body, html {
    color: var(--font-color);
    font-family: Helvetica;
    width: 100%;
    height: 100%;
    scroll-snap-type: y proximity;
    /* scroll-behavior: smooth; */
}
#background {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
}

/* fade-in */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* navbar */
#navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    height: fit-content;
    justify-content: center;
    
    top: 25%;
    right: 00px;
    position: fixed;
    font-size: 30px;

    /* background: linear-gradient(270deg,rgba(82, 77, 101, 60%) 0%, rgba(0, 0, 0, 0) 75%); */
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 

}
#navbar-container > a, #navbar-container > nav {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 15px;
}
#navbar-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}
a.active {
    background-color: var(--fg-color) !important;
    color: var(--font-color) !important ;
    border-radius: 15px !important;
}
.nav-link:hover {
    color: #4a465c;
}
/* end navbar */


/* top-right links */
#link-container {
    position: fixed;
    right: 0px;
    top: 0px;

    width: 4%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#link-container > a {
    margin: 10px;
    padding: 0px;

    border-radius: 10px;

    transition: all 0.4s ease-out;
    
    color: rgb(24, 23, 30);
}
#link-container > a:hover {
    background-color: rgba(118, 204, 106, 0.8);

    margin: 0px;
    padding: 10px;
}
#git-img, #linkedin-img {
    width: 100%;
    height: 100%;
}
/* End top-right links

/* header */
#header-container {
    text-align: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 5%;
}
#header-text {
    font-size: 200px;
    font-weight: 600;
}
/* end header */


#content-container {
    scroll-snap-type: y proximity;
}
#projects-container, #skills-container, #about-container, #header-container {
    display: flex;
    flex-direction: column;

    scroll-snap-align: center;
    
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 16%;

    border-radius: 60px;

    min-height: 750px;
    /* border: 1px solid red; */
}
#projects-container, #skills-container, #about-container {
    color: var(--font-color);
}
h1 {
    font-size: 92px;
    font-weight: 600;
}
h2 {
    font-size: 48px;
    font-weight: 600;
}
h3 {
    font-size:35px;
    font-weight: 500;
}


/* about */
#about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-evenly;

    height: fit-content;

    background-color: var(--fg-color);
}
/* row 1 */
#about-container > div { /* container for h1 and #about-0a, keeps them on thier own row */
    width: 100%;
    /* border: 1px solid red; */
}
#about-container > div > h1 {
    width: fit-content;
    height: fit-content;


    margin-bottom: 0px;
    margin-left: 4%;

    padding-left: 1%;
    padding-right: 1%;

    /* background-color: rgba(82, 77, 101, 50%); */
    border-radius: 20px;
}

/* row 2 */
#about-container > h2 {
    /* border: 1px solid rgb(0, 128, 0); */
    flex-basis: 28%;
    text-align: center;
    height: fit-content;

    margin-bottom: 0px;
    margin-top: 1%;

    margin-left: 2%;
    margin-right: 2%;

    padding-left: 5px;
    padding-right: 5px;

    /* background-color: rgba(82, 77, 101, 60%); */
    border-radius: 15px;
}
#about-1 {
    margin-left: 0px;
}
#about-2 {
    margin-left: 0%;
}
#about-3 {
    margin-left: 0px;
}
/* row 3 */
#about-1a, #about-2a, #about-3a {
    /* border: 1px solid green; */
    flex-basis: 28%;
    text-align: center;
    height: fit-content;

    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;

    padding-left: 30px;
    padding-right: 30px;

    text-align: center;

    /* background-color: rgba(82, 77, 101, 60%); */
    border-radius: 10px;
}
/* row 5 */
#about-container > img {
    width: 30%;

    margin-top: 1%;
    box-shadow: 5px 5px 5px black;
}
/* end about */



/* skills */
#skills-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-evenly;

    background-color: var(--fg-color);
}
#skills-header { 
    /* border: 1px solid red; */
    width: 100%;

}
#skills-header > h1 {
    width: fit-content;
    height: fit-content;


    margin-bottom: 0px;
    margin-left: 4%;

    padding-left: 1%;
    padding-right: 1%;

    /* background-color: rgba(82, 77, 101, 0%); */
    border-radius: 20px;
}

#skills-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* border: 1px solid red; */
    width: 100%;
    margin-top: 2%;
}

#skills-items-header {
    /* border: 1px solid orange; */
    width: 40%; 
    display: flex;
    justify-content: center;

    padding-left: 7%;
    padding-right: 7%;
}
#skills-items-header > h2 {
    /* border: 1px solid green; */
    height: fit-content;
    width: fit-content;
    
    margin-bottom: 0px;

    text-align: center;

    /* background-color: rgba(82, 77, 101, 60%); */
    border-radius: 20px;
}

#skills-items-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    width: 60%;

    padding-left: 5%;
    padding-right: 5%;

    /* border: 1px solid red; */
}
#skills-items-container > h3 {
    /* border: 2px solid green; */
    border: 3px solid rgba(79, 74, 97, 0.6);

    margin: 10px;

    padding-left: 5px;
    padding-right: 5px;

    width: fit-content;
    height: fit-content;

    transition: all 0.4s ease-out;

    background-color: rgba(101, 97, 117, 0.6);
    border-radius: 10px;
}
#skills-items-container > h3:hover{
    margin: 5px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;

    cursor: default;
    border: 3px solid rgba(79, 74, 97, 0.6);
    background-color: rgba(118, 204, 106, 0.8);
}

/* end skills */



/* projects */
#project-1, #project-2 {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    border: 1px solid blue;

    margin-bottom: inherit;

    border-radius: inherit;

    background-color: var(--fg-color);

}

#projects-container > h1 {
    margin-left: 100px;
    margin-top: 2%;
    margin-bottom: 2%;

    color: var(--font-color);
}

/* project 1 */
#project-1 > h2, #project-2 > h2 {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#game-board-container {
    width: 80%;
    height: 800px;
    overflow: scroll;
    zoom: 100%;
    margin-left: 100px;
    
    background-color: rgba(82, 77, 101, 55%);
}
#game-board-svg {
    background-color: rgba(0, 0, 0, 0);
    zoom: 100%;

    width: 2000px;
    height: 100%;
}
/* token/draggable attributes */
.draggable { 
    cursor: grab; 
    fill: rgb(196, 150, 150);
    stroke-width: 4px;
}
.dragging { 
    cursor: grabbing; 
    opacity: 80%;
    
}
#selector {
    fill: rgba(61, 152, 255, 0.20);
    stroke: rgba(0, 153, 255, 0.45);
    stroke-width: 2px;
    
}
/* zoom slider */
#zoom-slider-container {
    position: absolute;
    margin-left: 7%;
    margin-top: 75px;
}
#zoom-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    opacity: 0.7;
}
#zoom-slider:hover {
    opacity: 0.9;
}
/* end project 1 */

/* project 2 */
#project-2 {
    margin-top: inherit;
}
/* end project 2 */

/* end projects */