body {
    background-color: #e7cfdc;
    color: #241f33;
}

#navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-right: 25px;
    right: 0px;
    position: fixed;
    font-size: 30px;
}

#navbar-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

#header-container {
    text-align: center;
    border: red, 1px, solid;
}
#header-text {
    font-size: 200px;
    
}

#projects-container, #skills-container, #about-container, #header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 75px;
    height: 750px;
}

#header-container {
    margin-left: 0px;
    margin-right: 100px;
}

#project-1, #project2 {
    margin: 5px;
    height: 500px;

}







