body {
    background-color: #e7cfdc;
    color: #241f33;
}

#navbar-container {
    right: 0px;
    position: fixed;
    font-size: 30px;
}

#header {
    text-align: center;
}
#header-text {
    font-size: 200px;
    
}

#projects-container, #skills-container, #about-container, #header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1000px;
}

#item-1 {
    margin: 5px;

}
#item-2 {
    margin: 5px;
}  




.scrollspy-example {
    position: relative;
    height: 400px;
    overflow: auto;
}

