@import "tailwindcss";

:root {
  --foreground: #312f2f;
  --background: #121212;
  --navbar: #2e2e30;

  --navbar-hover: rgb(77, 79, 82);
  --navbar-effect1: rgb(102, 105, 109); /* Effect of navbar link hovering */
  --navbar-effect2: rgb(120, 123, 128);

  --line-break: rgb(31, 61, 87); /* Horizontal line break */

  --text: #faf9f6;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbar: var(--navbar);
  --color-navbar-hover: var(--navbar-hover);
  --color-navbar-effect1: var(--navbar-effect1);
  --color-navbar-effect2: var(--navbar-effect2);
  --color-line-break: var(--line-break);
}

body {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 30px;
}
