@import "tailwindcss";

:root {
  --background: #121212;
  --foreground1: #1c1c1c;
  --foreground2: #1f2122;

  /* eebhjkn */

  --navbar: #2e2e30;
  --navbar-hover: rgb(77, 79, 82);
  --navbar-effect1: rgb(102, 105, 109); /* Effect of navbar link hovering */
  --navbar-effect2: rgb(120, 123, 128);

  --line-break: rgb(31, 61, 87); /* Horizontal line break */

  --text: #faf9f6;
}

@theme {
  --color-background: var(--background);
  --color-foreground1: var(--foreground1);
  --color-foreground2: var(--foreground2);

  --color-navbar: var(--navbar);
  --color-navbar-hover: var(--navbar-hover);
  --color-navbar-effect1: var(--navbar-effect1);
  --color-navbar-effect2: var(--navbar-effect2);

  --color-line-break: var(--line-break);
}

body {
  color: var(--text);
  font-family: var(--font-montserrat), Arial, sans-serif;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
}
li {
  font-size: 20px;
}
